@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&family=Oswald&family=Roboto+Condensed&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/**
* END CSS RESET
**/


#root {
    width: 100%;
    height: 100vh;
}

#about-header {
    position: relative;
    text-align: center;
    height: 10%;
    top: 5%;
    font: 4em "Lexend Deca";
}

#team-container {
    position: relative;
    /* 100% - ( 15% + 7.5%) = 77.5%  */
    height: 77.5%;
    top: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5% 10%;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}


.team-link {
    width: 100%;
    max-width: 20%;
    text-decoration: none !important;
}

.team-image {
    width: 100%;
    height: auto;
    filter: grayscale(1);
    transition: all 0.5s ease;
}

.team-link:hover .team-image {
    filter: grayscale(0);
}

.image-member-name {
    position: relative;
    width: 100%;
    font: 1.3em "Oswald";
    left: 5%;
    color: black;
}

.image-member-role {
    min-width: 100%;
    position: relative;
    left: 20%;
    font: 1.1em "Roboto Condensed";
    color: black;
}

.image-member-name:link {
    text-decoration: none !important;
}

.image-member-role:link {
    text-decoration: none !important;
}

.modal-overlay {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1%;
    opacity: 0;
    animation: appear 0.5s forwards;
    border: .025rem solid black;
    -webkit-box-shadow: 0px 0px 82px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 82px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 82px -7px rgba(0, 0, 0, 0.75);
    width: 60%;
    display: flex;
    flex-direction: row;
    height: auto;
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

.modal-image-container {
    height: 100%;
    margin-bottom: -.3333333%;
}

.modal-image {
    max-width: 65vh;
    max-height: 65vh;
    border-bottom-left-radius: 1%;
    border-top-left-radius: 1%;
}

.modal-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-name {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 130%;
    border-top: .1rem solid black;
    border-bottom: .1rem solid black;
    margin-top: 15%;
    font-family: 'Lexend Deca';
    font-size: 2.5rem;
}

.modal-bio {
    font-family: 'Roboto Condensed';
    font-size: 1.25rem;
    margin-top: 5%;
    margin-left: 1%;
    white-space: pre-wrap;
}

.modal-close {
    position: absolute;
    left: 100%;
    top: 0;
    transform: translatex(-115%);
    background-color: white;
    color: black;
    padding: 15px 20px;
    text-align: center;
    border: .1rem solid black;
    border-radius: 10%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.modal-close:hover {
    transition: .1s ease-in;
    filter: brightness(70%);
}