@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&family=Oswald&family=Roboto+Condensed&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background: linear-gradient(to bottom, rgb(51, 51, 51) 20%, rgb(95, 66, 112) 50%, rgb(105, 33, 177) 100%);
    scrollbar-width: none;
    background-size: 100% 200%;
}

body::-webkit-scrollbar {
    width: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/**
* END CSS RESET
**/


#root {
    width: 100%;
    height: 100vh;
}

/*//////////////////// MAP PAGE /////////////////////////////*/

.map-page {
    margin: 160px;
}

.custom-info-window {
    padding-left: 10px;
    padding-right: 5px;
    width: 100%;
    box-sizing: border-box;
}


.view-menu-link {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(228, 60, 8);
    color: white;
    padding: 15px 20px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Roboto Condensed';
    margin-bottom: 10px;
}

.view-menu-link:hover {
    transition: 0.1s ease-in;
    filter: brightness(70%);
    color: white;
}


.info-window {
    color: black;
    font-family: 'Roboto Condensed';
    font-size: 1.5rem;
}

.thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.info-window-name {
    font-family: 'Lexend Deca';
    font-size: 2rem;
    margin-bottom: 10px;
}

.info-window-rating {
    font-family: 'Roboto Condensed';
    font-size: 1.5rem;
    margin-bottom: 10px;
}


/*//////////////////// MAP PAGE /////////////////////////////*/