.cart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-inline: 5%;
    margin-top: 1%;
    background-color: white;
    border-radius: 10px;
    padding-top: 30px;
    min-height: 80vh;
}

.empty-cart {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.empty-cart img {
    height: clamp(40vh, 100%, 50vh);
    width: clamp(40vh, 100%, 50vh);
}

.cart-container h1 {
    justify-self: center;
    color: black;
    font-weight: bold;
    font-size: clamp(20px, 3rem, 3.5rem);
    font-family: Georgia, serif;
    margin: 1%;
}

.cart-container h3 {
    justify-self: center;
    color: black;
    font-weight: bold;
    font-size: clamp(16px, 2rem, 3rem);
    font-family: Georgia, serif;
    margin: 1%;
}

.cart-balance {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 87%;
}

.cart-container h2 {
    background-color: white;
    padding: 10px;
    text-align: end;
    color: black;
    font-weight: bold;
    font-size: clamp(15px, 2vw, 25px);
    font-family: Georgia, serif;
    border-bottom: 3px solid rgb(233, 229, 229);
    width: 20%;
}

.cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    overflow-y: scroll;
}

.cart-item {
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 80%;
}

.cart-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 5px;
    background: linear-gradient(to right, transparent, whitesmoke 10%, whitesmoke 90%, transparent);
}


.cart-item:hover {
    background-color: whitesmoke;
}

.cart-item-img {
    border-radius: 15px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.cart-item-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.cart-item-detail {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 75%;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-inline: 5%;
}

@media screen and (max-height: 800px) {
    .cart-items {
        border-bottom: 3px solid black;
    }

}


@media screen and (max-width: 768px) {

    .cart-item-detail {
        display: flex;
        flex-direction: column;
        width: 75%;
        font-size: 16px;
    }

    .cart-item-name {
        margin: 10px;
    }

    .cart-item-quantity {
        margin: 10px;
    }

    .cart-item-price {
        margin: 10px;
    }

    .cart-balance {
        display: flex;
        flex-direction: row;
        justify-content: right;
        flex-wrap: wrap;
    }

    .cart-balance h2 {
        margin-left: 5%;
        width: 100%;
    }
}

.cart-item-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

.item-quantity-button {
    background-color: #f1f1f1;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-inline: 5px;
    text-align: center;
    cursor: pointer;
    outline: none;
    z-index: 3;
}

.item-quantity-button:hover {
    color: black;
    background-color: white;
}

.checkout-button {
    margin: 5px;
    width: 87%;
    display: flex;
    justify-content: right;
}

.checkout-button button {
    color: black;
    background-color: rgb(255, 207, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 10);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
}

.shop-button button {
    color: black;
    background-color: rgb(255, 207, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 10);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20vh;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.cart-checkout {
    margin-inline: auto;
    width: 80vw;
    height: auto;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    background-color: (0 0% 100% / 0.3);
    backdrop-filter: blur(3px);
}

.popUp{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0 0% 100% / 0.5);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 80%;
    z-index: 1000;
}

.popUpDiv {
    margin-inline: auto;
    width: 50%;
    padding: 6rem;
    height: auto;
    background-color: white;
    border: 5px solid black;
    border-radius: 1rem;
}