html,
body {
  height: 100%;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background: rgb(139, 8, 139);
  color: white;
  z-index: 9999;
}

.footer-text {
  display: inline-block;
  padding: 10px;
  font-size: clamp(10px, 1.5vw, 25px);
}

.footer-text a {
  display: inline-block;
  font-size: clamp(10px, 1.5vw, 25px);
}

.footer-text:first-of-type {
  text-align: left;
  font-style: italic;
}

.footer-text:last-of-type {
  text-align: center;
}
