.home-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 160px 30px;
    color: #ffffff;
    font-size: 46px;
    font-family: Georgia, serif;
}




