*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

li.navItem{
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: Georgia, serif;

}
a.navLink {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 10);
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s ease-in-out;
  margin-right: 20px;
}
a.navItem {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s ease-in-out;
  margin-right: 20px;
}
a.log-button{
  color: black;
  background-color: rgb(255, 207, 1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 10);
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}
a.navLink:hover {
  border-bottom: 1px solid white;
}

.nav {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  min-height: 50px;
  background: rgb(139, 8, 139);
  top: 50px;
  z-index: 9999;
  margin-top: 50px;
}

.brand {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 50px;
  align-items: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 10);
  text-transform: uppercase;
  padding-inline: 10px;
}

.Logo {
  height: 100%;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.navButton {
  display: none;
}

.navButton div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .navButton {
    display: block;
    cursor: pointer;
  }

  .navList {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 45%;
    background: rgb(139, 8, 139);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    
  }
}

/* Open Panel */
.openList {
  transform: translateX(0%);
}

/* Panel Button Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}