.restaurant-name {
  font-size: 40px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.restaurant-img-thumb {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.restaurant-name {
  font-size: 40px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.restaurant-img-thumb {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}

.restaurant-dashboard {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.restaurant-info-item,
.restaurant-menu-item {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.restaurant-info-item img.restaurant-img-thumb {
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  margin-top: 10px;
}

.restaurant-menu {
  margin-top: 40px;
}

.orders-page-button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.orders-page-button button {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #8B088B;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.orders-page-button button:hover {
  background-color: #333;
}

h2 {
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  color: #000000;
}

p {
  color: #000000;
  margin-bottom: 10px;
}

.restaurant-menu-item:last-child {
  margin-bottom: 0;
}

.order-id {
  color: #000000;
  font-size: 20px;
  font-weight: 1000;
  margin-bottom: 10px;
}