.orders-page {
  display: flex;
}

.unaccepted-orders-sidebar {
  padding: 10px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  font-weight: 800;
  height: 100vh;
}

.unaccepted-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dee2e6;
}

.accept-order-button {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.orders-container {
  width: 100%;
  padding: 10px;
}

.restaurant-orders-item {
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-bottom: 15px;
}

.order-id {
  margin-bottom: 10px;
}

.status {
  font-weight: bold;
  margin-bottom: 10px;
}

.order-items-container {
  margin-bottom: 15px;
}

.order-complete-button {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.order-complete-button:hover {
  background-color: #218838;
}

.orders-tabs {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 15px;
}

.tab-button {
  background-color: #f8f9fa;
  border: 2px solid #ffcf01;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  color: #000000;
  margin: 0 5px;
}

.tab-button.active {
  font-weight: bold;
  background-color: #ffcf01;
  color: #000000;
}

